<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index-style.css') }}">
</head>
<body>
    <h1>Enforce Policies Results:</h1>

    <table>
        {% for checkResult in result %}
        <tr>
            <td>
                {% if not checkResult.success %}
                <input type="checkbox">
                {% endif %}
            </td>
            <td>{{checkResult.policy.index}}</td>
            <td>{{checkResult.policy['reg_key']}}</td>
            <td>{{checkResult.policy['reg_item']}}</td>
            <td>{% if checkResult.success %} <p class="passed">PASSED</p> {% else %} <p class="failed">FAILED</p> {% endif %}</td>
            <td>{% if not checkResult.success %} Reason: {{ checkResult.message }} {% endif %}</td>
        </tr>
        {% endfor %}
    </table>

    <script type="application/javascript" src="{{ url_for('static', filename='script/check.js') }}"></script>
</body>
</html>