<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index-style.css') }}">
</head>
<body>
    <h1>All Policies</h1>

    <div>
        <form action="http://127.0.0.1:5000/search" method="get">
            <label>
                Search (reg_key):
                <input name="value" class="search">
                <input type="submit" value="Search" class="btn">
            </label>
        </form>
        {% if search != NULL %}
        <p>Search results:</p>
        {% if search|length > 0 %}
        <table>
            {% for policy in search %}
            <tr>
                <td>
                    <form action="http://127.0.0.1:5000/export" method="get" target="_blank">
                        <input type="hidden" name="index" value="{{ policy['index'] }}">
                        <input type="submit" value="Export" class="btn">
                    </form>
                </td>
                {% for key in policy %}
                <td>{{key}}: {{policy[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No matches</p>
        {% endif %}
        {% endif %}
    </div>

    <button class="selectAll" >Select all</button>
    <button disabled="true" class="downloadSelected">Download selected</button>
    <button disabled="true" class="testSelected">Test selected</button>

    <table>
        {% for policy in data %}
        <tr>
            <td>
                <input type="checkbox">
            </td>
            <td>
                <form action="http://127.0.0.1:5000/export" method="get" target="_blank">
                    <input type="hidden" name="index" value="{{ policy['index'] }}">
                    <input type="submit" value="Export" class="btn">
                </form>
            </td>
            {% for key in policy %}
            <td>{{key}}: {{policy[key]}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <script type="application/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>